{% extends 'base.html' %}

{% block 'titulo' %}ShopAdm | {{request.user}}{% endblock %}

{% block 'body' %}
    <div class="">
        <nav class="navbar navbar-expand-sm navbar-light bg-light ">
            <a href="#" class="navbar-brand mb-0 h1">
                <!-- <img class="d-inline-block align-top" src="#" alt="AppLogo" width="30" height="30"> -->
                Logo
            </a>
            <button type="button" data-toggle="collapse" data-target="navbarNav" class="navbar-toggler"></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{% url 'productos' %}" class="nav-link">
                            Productos
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            Ventas
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            {{request.user}}
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'logout' %}" class="nav-link">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div> 
            <!--MAIN-->
            {% if opcion == 0 %}
                <h3>Bienvenido, {{request.user}}</h3>
            {% elif opcion == 1 %}
                {% include 'productos/productosList.html' %}
            {% elif opcion == 2 %}
                {% include 'productos/agregarProducto.html' with form=form %}
            {% elif opcion == 3 %}
                {% include 'productos/eliminarProducto.html' with nombreProducto=producto.nombre %}
            {% endif %}
        </div>
    </div>
{% endblock %}