{% extends 'base.html' %}

{% block 'titulo' %}ShopAdm | {{request.user}}{% endblock %}
{% block 'body' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/ca6b8ee055.js" crossorigin="anonymous"></script>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-sm navbar-light ps-2 pe-2"  style="background-color:rgb(26, 67, 190);">
            <a href="#" class="navbar-brand mb-0 h1">
                <i class="fa-brands fa-aws fa-5x" ></i>
    
            </a>
            <button type="button" data-toggle="collapse" data-target="navbarNav" class="navbar-toggler"></button>
            <div class="collapse navbar-collapse" style="margin-left: 50px;"id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active" >
                        <a href="{% url 'productos' %}" class="nav-link" style="color:rgb(255, 255, 255);font-size: 25px;">
                            Productos
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link"style="color:rgb(255, 255, 255);font-size: 25px;">
                            Ventas
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link"style="color:rgb(255, 255, 255);font-size: 25px;">
                            <i class="fa-solid fa-user"></i> {{request.user}}
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="{% url 'logout' %}" class="nav-link"style="color:rgb(255, 255, 255);font-size: 25px;">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div> 
            <!--MAIN-->
            {% if opcion == 0 %}
                <h3  style="color:rgb(26, 67, 190); text-align: center;">Bienvenido, {{request.user}}</h3>
            {% elif opcion == 1 %}
                {% include 'productos/productosList.html' %}
            {% elif opcion == 2 %}
                {% include 'productos/agregarProducto.html' with form=form %}
            {% elif opcion == 3 %}
                {% include 'productos/eliminarProducto.html' with nombreProducto=producto.nombre %}
            {% endif %}
        </div>
    </div>


    
{% endblock %}

</body>
</html>